parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc type Visol\\\\Handlebars\\\\View\\\\HandlebarsView of property Visol\\\\Handlebars\\\\Controller\\\\AbstractHandlebarsController\\:\\:\\$view is not the same as PHPDoc type TYPO3Fluid\\\\Fluid\\\\View\\\\ViewInterface of overridden property TYPO3\\\\CMS\\\\Extbase\\\\Mvc\\\\Controller\\\\ActionController\\:\\:\\$view\\.$#"
			count: 1
			path: Classes/Controller/AbstractHandlebarsController.php

		-
			message: "#^Method Visol\\\\Handlebars\\\\DataProvider\\\\AbstractDataProvider\\:\\:__construct\\(\\) has parameter \\$settings with no type specified\\.$#"
			count: 1
			path: Classes/DataProvider/AbstractDataProvider.php

		-
			message: "#^Method Visol\\\\Handlebars\\\\Engine\\\\HandlebarsEngine\\:\\:getPartialCode\\(\\) has parameter \\$cx with no type specified\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Method Visol\\\\Handlebars\\\\Engine\\\\HandlebarsEngine\\:\\:getPartialCode\\(\\) has parameter \\$name with no type specified\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Method Visol\\\\Handlebars\\\\Engine\\\\HandlebarsEngine\\:\\:getPartialCode\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Method Visol\\\\Handlebars\\\\Engine\\\\HandlebarsEngine\\:\\:getTemplateCode\\(\\) has parameter \\$templatePathAndFilename with no type specified\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Method Visol\\\\Handlebars\\\\Engine\\\\HandlebarsEngine\\:\\:getTemplateCode\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Offset 'uid' does not exist on array\\|null\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_exists expects string, string\\|null given\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Parameter \\#1 \\$filename of function file_get_contents expects string, string\\|null given\\.$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^Unable to resolve the template type T in call to method static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:makeInstance\\(\\)$#"
			count: 1
			path: Classes/Engine/HandlebarsEngine.php

		-
			message: "#^PHPDoc tag @return with type object is not subtype of native type Visol\\\\Handlebars\\\\HelperRegistry\\.$#"
			count: 1
			path: Classes/HelperRegistry.php

		-
			message: "#^Parameter \\#1 \\$string of function strtolower expects string, string\\|null given\\.$#"
			count: 3
			path: Classes/View/HandlebarsView.php

		-
			message: "#^Call to an undefined method TYPO3Fluid\\\\Fluid\\\\Core\\\\Rendering\\\\RenderingContextInterface\\:\\:getRequest\\(\\)\\.$#"
			count: 1
			path: Classes/ViewHelpers/RenderViewHelper.php
